-i https://pypi.python.org/simple

argon2-cffi==20.1.0  # https://github.com/hynek/argon2_cffi
asgiref==3.2.10; python_version >= '3.5'

black==20.8b1  # https://github.com/ambv/black

celery==4.4.7  # pyup: < 5.0  # https://github.com/celery/celery
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cookiecutter>=1.7.0
coverage==5.2.1  # https://github.com/nedbat/coveragepy
cryptography==3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'

defusedxml==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
django==3.0.9
django-admin-sortable2==0.7.7
django-anymail[amazon_ses]==7.2.1  # https://github.com/anymail/django-anymai
django-allauth==0.42.0
django-angular==2.3
django-appconf==1.0.4
django-celery-beat==2.0.0  # https://github.com/celery/django-celery-beat
django-classy-tags==2.0.0
django-coverage-plugin==1.8.0  # https://github.com/nedbat/django_coverage_plugin
django-cms==3.7.4
django-compressor==2.4  # https://github.com/django-compressor/django-compressor
django-cors-headers==3.5.0 # https://github.com/adamchainz/django-cors-headers
django-crispy-forms==1.9.2  # https://github.com/django-crispy-forms/django-crispy-forms
django-debug-toolbar==2.2  # https://github.com/jazzband/django-debug-toolbar
django-elasticsearch-dsl==7.1.4
django-entangled==0.3
django-environ==0.4.5  # https://github.com/joke2k/django-environ
django-extensions==3.0.5  # https://github.com/django-extensions/django-extensions
django-filer==1.7.1
django-filter==2.3.0
django-formtools==2.2
django-fsm-admin==1.2.4
django-fsm==2.7.0
django-ipware==3.0.1
django-js-asset==1.2.2
django-model-utils==4.0.0  # https://github.com/jazzband/django-model-utils
django-mptt==0.11.0; python_version >= '3.5'
django-parler-rest==2.1
django-parler==2.1
django-phonenumber-field==5.0.0
django-polymorphic==2.1.2
django-post-office==3.4.1
django-redis==4.12.1  # https://github.com/jazzband/django-redis
django-redis-cache==2.1.1
django-redis-sessions==0.6.1
django-rest-auth==0.9.5
django-sass-processor==0.8.1
django-sekizai==2.0.0
django-select2==7.4.2
django-shop==1.2.3
django-treebeard==4.3.1
django-raster==0.3
djangorestframework==3.11.1
djangoshop-paypal==1.2
djangoshop-sendcloud==1.2.1
django-storages[boto3]==1.9.1  # https://github.com/jschneier/django-storages
djangoshop-stripe==1.2
django-stubs==1.5.0  # https://github.com/typeddjango/django-stubs

easy-thumbnails==2.7; python_version >= '3.5'
elasticsearch-dsl==7.2.1
elasticsearch==7.9.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'

factory-boy==3.0.1  # https://github.com/FactoryBoy/factory_boy
flake8==3.8.3  # https://github.com/PyCQA/flake8
flake8-isort==4.0.0  # https://github.com/gforcada/flake8-isort

geopy
gunicorn==20.0.4  # https://github.com/benoitc/gunicorn

hiredis==1.1.0  # https://github.com/redis/hiredis-py
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'

ipdb==0.13.3  # https://github.com/gotcha/ipdb
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

jsonfield==3.1.0; python_version >= '3.6'

libsass==0.20.1

mypy
numpy

oauthlib==3.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

pandas
paypalrestsdk==1.13.1
phonenumbers==8.12.8
pillow==7.2.0; python_version >= '3.5'
pipenv
pre-commit==2.7.1  # https://github.com/pre-commit/pre-commit
psycopg2-binary==2.8.5
pycountry>=19.8,<20.8
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pylint-django==2.3.0  # https://github.com/PyCQA/pylint-django
pylint-celery==0.3  # https://github.com/PyCQA/pylint-celery
pyopenssl==19.1.0
pytest==6.0.1  # https://github.com/pytest-dev/pytest
pytest-django==3.9.0  # https://github.com/pytest-dev/pytest-django
pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python3-openid==3.2.0
python-slugify==4.0.1  # https://github.com/un33k/python-slugify
pytz==2020.1

rcssmin==1.0.6  # https://github.com/ndparker/rcssmin
redis==3.5.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
requests-oauthlib==1.3.0
requests==2.24.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'

schedule==0.6.0
sentry-sdk==0.17.1  # https://github.com/getsentry/sentry-python
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sphinx==3.2.1  # https://github.com/sphinx-doc/sphinx
sphinx-autobuild==0.7.1 # https://github.com/GaretJax/sphinx-autobuild
sqlparse==0.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
stripe==1.84.2

unidecode==1.1.1
urllib3==1.25.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
uvicorn==0.11.8  # https://github.com/encode/uvicorn
uwsgi==2.0.19.1

watchgod==0.6  # https://github.com/samuelcolvin/watchgod
webencodings==0.5.1
Werkzeug==1.0.1 # https://github.com/pallets/werkzeug
whitenoise==5.2.0  # https://github.com/evansd/whitenoise