<nav class="site-header  py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home (main)</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_home' %}">Examples:</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_album' %}">Album</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_blog' %}">Blog</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_carousel' %}">Carousel</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_checkout' %}">Checkout</a>
      <!-- <a class="py-2 d-none d-md-inline-block" href="{% url 'example_cover' %}">Cover</a> -->
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_dashboard' %}">Dashboard</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_floating_labels' %}">Floating</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_jumbotron' %}">Jumbotron</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_offcanvas' %}">Offcanvas</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_pricing' %}">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_product' %}">Product</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'example_sign_in' %}">Sign In</a>
    </div>
  </nav>