{% load static %}{% load static i18n %}
<div class="collapse " id="Header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="">Navigation</h4>
          <ul class="list-unstyled">
            <li><a class="a_nav_link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
            <li><a class="a_nav_link" href="{% url 'about' %}">About</a></li>
            <li><a class="a_nav_link" href="{% url 'example_home' %}">Examples</a></li>

        {% if request.user.is_authenticated %}
            {# URL provided by django-allauth/account/urls.py #}
            <li><a class="a_nav_link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            {# URL provided by django-allauth/account/urls.py #}
            <li><a class="a_nav_link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        {% else %}
            {# URL provided by django-allauth/account/urls.py #}
            <li><a id="sign-up-link" class="a_nav_link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            {# URL provided by django-allauth/account/urls.py #}
            <li><a id="log-in-link" class="a_nav_link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark ">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img  src="{% static 'images/django.svg' %}" width="70" >
        <!-- <strong class="org_name" style="padding-left: 5px"></strong> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Header" aria-controls="Header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">

        </span>
      </button>
    </div>
  </div>
