{% extends 'base.html' %} {% load static %} {% block content %} {% include 'snippets/examples_header.html' %}




<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1><span class="org_name"></span> home page</h1>
      <p class="lead">Click any of the above links to get started viewing and customizing your website's pages.</p>

    </div>
  </section>
  <hr class="featurette-divider">
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><span class="org_name"></span> example is &copy; <span class="org_name"></span>, but please download and customize it for yourself!</p>
    <p>New to <span class="org_name"></span>? <a href="#">Visit the homepage</a> or read our <a href="#">getting started guide</a>.</p>
  </div>
</footer>

{% endblock content %}