{% extends "account/base.html" %}
{% load static %} 
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block inner %}

<style type="text/css">
  html,
body {
  height: 100%;
}

body {

  /* padding-top: 40px; */
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  text-align:left;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #343a40;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
} 

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #343a40;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #343a40;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #343a40;
  }
}

</style>

<div class=" container d-flex  nav-scroller ">
  <label class="light-switch light-switch-label light-switch-pill light-switch-opposite-dark">
    <input type="checkbox" class="light-switch-input" id="light_switch" checked>
    <span class="light-switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
  </label>
</div>

<form class="form-signin login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
 
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'images/django.svg' %}" alt="" width="72" height="72">
    <!-- <h1 class="h3 mb-3 font-weight-normal"><span class="org_name"></span></h1> -->
    <h1 class="h3 mb-3 font-weight-normal">Sign in below</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <p>
      {% blocktrans with site.name as site_name %}
        Please, sign in to <span class="org_name"></span> 
        with one of your existing third party accounts. 
        Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:
      {% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
    <p>
      {% blocktrans %}
        If you have not yet created an account with us, 
        please <a href="{{ signup_url }}">sign up</a> 
        prior to signing in.
      {% endblocktrans %}    
    </p>
    {% endif %}
  </div>
  
<div id="div_id_login" class="form-group"> 
  <label for="id_login" class="sr-only  requiredField">
    Username
  </label> 
  <div class=""> 
    <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" class="textinput textInput form-control" required autofocus id="id_login"> 
  </div> 
</div> 

<div id="div_id_password" class="form-group"> 
  <label for="id_password" class="sr-only  requiredField">
    Password
  </label> 
  <div class=""> 
    <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password"> 
  </div> 
</div> 

<div class="form-group"> 
  <div id="div_id_remember" class="form-check checkbox mb-3"> 
    <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember"> 
    <label for="id_remember" class="form-check-label">
      Remember Me
    </label> 
  </div> 
</div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- <div class="checkbox mb-3">
      <label><input type="checkbox" value="remember-me"> Remember me</label>
    </div> -->
        
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign In</button>

  </br>
  <div class="text-center mb-4">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
  <div class="text-center mb-4">
    <p>
      Click "Sign In" to agree to <span class="org_name"></span>'s  
      <a href="#"> Terms and Conditions of Use</a> 
      and acknowledge that <span class="org_name"></span>'s 
      <a href="#"> Pivacy Policy </a> applies to you.
    </p>
  </div>

</form>

{% endblock %}

